*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .main
{
  width: 580px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .main .searchBx
{
position: relative;
width: 100%;
margin-top: 20px;
}
section .main .searchBx .query
{
width: 100%;
padding: 13px;
border: 1px solid #ccc;
outline: none;
font-size: 16px;
border-radius: 30px;
padding-left: 45px;
padding-right: 60px;
}
section .main .searchBx .icons
{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  align-items: center;
  pointer-events: none;
}
section .main .searchBx.icons img
{
  max-width: 100%;
}
.searchBtn
{
  margin: 0 5px;
  margin-top: 20px;
  padding: 12px 20px;
  color: #555;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid#ccc;
  outline: none;
}
.searchBtn:hover
{
  border: 1px solid#ccc;
}
.fo {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 36px;
  margin: 0 auto;
  width: 482px;
  width: auto;
}

.inp {
  background-image: linear-gradient(top,#f8f9fa,#f8f9fa);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.inp:hover {
  background-color: skyblue;
}
.jfk-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 16px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
}

div.Mza7yc {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}
.la {
  display: inline-block;
  width: 140px;
  text-align: left;
}
